// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #331387;
$red: #ee0000;
$grey: #ab9ece;
$green: #38c172;
$teal: #767676;
